<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>前端自定义下载文件名e</title>
</head>
<body>
<label for="fileUrl">待下载的文件：</label><input type="text" name="fileUrl" id="fileUrl"
                                           value='https://filetest.gongbangbang.com/tmp/u/2022/11/03/c1a2f97fdd114fdf825e3a7d6974cb17fBTqc4.xlsx'><br/>
<label for="fileName">自定义文件名：</label><input type="text" name="fileName" id="fileName" value='H5自定义的文件名'><br/>
<button id='btn'>下载</button>
<br/>
<span id='status'></span><br/>

</body>
<script>
    let url = document.getElementById('fileUrl').value;
    console.log(url);
    document.getElementById('btn').onclick = function () {
        document.getElementById('status').innerHTML = '下载中';
        fetch(url).then(res => res.blob().then(blob => {
            let a = document.createElement('a');
            let url = window.URL.createObjectURL(blob);
            a.href = url;
            a.download = document.getElementById('fileName').value;
            a.click();
            window.URL.revokeObjectURL(url);
            document.getElementById('status').innerHTML = '下载完成';
        }));
    };
</script>
</html>
