<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>

    <title>Default title</title>
    <link href="../../static/materialize/0.100.1/css/materialize.css"
          th:href="@{/materialize/0.100.1/css/materialize.css}">
</head>
<body>
<section layout:framement="content">

</section>

<script src="../../static/js/jquery-3.2.1.min.js"
        th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script src="../../static/materialize/0.100.1/js/materialize.js"
        th:src="@{/materialize/0.100.1/js/materialize.js}"></script>

</body>
</html>