<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <link rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}"
          href="../static/css/bootstrap.min.css"/>
</head>
<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
<h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>
<p th:utext="${message}">Error java.lang.NullPointerException</p>
<a href="index.html" th:href="@{/}">Back to Home Page</a>
    <h1 th:text="${title}">Title</h1>
    <div id="created" th:text="${#dates.format(timestamp)}">July 11,
        2012 2:17:16 PM CDT
    </div>

<p>
    There seems to be a problem with the page you requested (<span th:text="${path}"></span>.)
</p>
<div th:text="${exception}">exception name</div>

<div th:text="${'Detail:'+message}"></div>
    <div>
        There was an unexpected error (type=<span th:text="${error}">Bad</span>
        , status=<span th:text="${status}">500</span>).
    </div>
<div th:text="${trace}">trace</div>
    <div>
        Please contact the operator with the above information.
    </div>
</body>
</html>